
/* SMARTPHONES MEDIA-QUERIES */
@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* -------- INTRODUCTION RESPONSIVE STYLES  -------- */
    .wrapper {
        height: 700px;
        width: 100%;
    
        .navbar {
            padding-top: 2%!important;
    
            .nav-link {
                margin-left: 4rem;
                font-size: 24px;
                line-height: 20px;
            }
    
            .nav-link:hover {
                border-bottom: none;
                transition: all 3s ease-out;
            }
        }
    
        
        .introduction-section {
            margin-top: 100px;
    
            .intro-greet {
                font-size: 40px;
            }
            
            .intro-desc {
                font-size: 20px;
            }
    
            .intro-btn {
                width: 180px;
            }
        }
    }  

    /* -------- ABOUT US RESPONSIVE STYLES  -------- */
    .aboutus-section {
        height: 1100px;
    
        .custom-row {
            margin: 15px 15px 0 15px;
    
            .text-col {
                margin: 50px 0 0 25px;
    
                .about-title {
                    font-size: 20px;
                }
    
                .article-title {
                    font-size: 25px;
                }
    
                .article-descr {
                    font-size: 20px;
                }
    
                .article-btn {
                    width: 240px;
                    margin-top: 25px;
                }
            }
    
            .img-col {
                display: none;
            }
        }
    }

    /* -------- PHOTO RESPONSIVE STYLES  -------- */

    .portfolio-section {
        height: 900px;

        .main-title{
            font-size: 30px;
        }
    
        .title-descr {
            margin: 0 auto;
            margin-top: 20px;
            font-size: 18px;
        }
    
        .slider-section{
            max-width: 100%;
            height: 500px;
            margin: 70px 0 0 20px;
            
            img {
                width: 95%;
                height: 200px;
                margin-top: 20px;
             }
    
            img:hover {
                transition: all 1s ease-out;
                transform: scale(1.1);
            } 
            
        }
    }

    /* -------- SERVICE PROS RESPONSIVE STYLES  -------- */
    .pros-section {
        height: 1300px;

        .pros-title {
            margin-top: 50px;
    
            .title {
                font-size: 30px;
            }
            
            .title-descr {
                font-size: 18px;
            }
        }
    
        .pros-info {
            display: block;
            text-align: center;
            margin: 0 auto;
            

            .row {
                max-width: 320px!important;
                margin: 0 auto;
                
                .col {
                    padding-right: 0!important;
                }
            }
            
            img {
                width: 90%;
                float: none;
            }
            
            img:hover {
                transform: none;
            }
    
            .item-title {
                margin-top: 25px;
                float: none;
                font-size: 20px;
            }
    
            .item-descr {
                float: none;
                max-width: 700px;
                margin: 0 auto;
                margin-top: 20px;
                font-size: 15px;
                text-align: center;
                line-height: 25px;
            }
    
            button {
                float: none;
                margin: 25px 0 25px 0;
                width: 180px;
            }
        }
    }
    /* -------- HOT TOUR RESPONSIVE STYLES  -------- */

    .hotTour-section {
        height: 1400px;
        max-height: 1400px;
    
        .custom-row {
            margin: 50px 50px 0 25px;
    
            .text-col {
                margin: 70px 0 0 0;
                margin: 0 auto;
    
                .hotTour-title {
                    font-size: 20px;
                }
    
                .article-title {
                    font-size: 25px;
                    margin: 20px 0 20px 0;
                }
    
                .article-descr {
                    font-size: 20px;
                    margin: 20px 0 40px 0;
                    line-height: 25px;
                }
            }
    
            .img-col {
                display: none;
            }
        }
    }

    /* -------- CONTACT RESPONSIVE STYLES  -------- */

    .contact-section {
        max-width: 100%;
        height: 600px;
    
        .contact-info {
            padding: 75px 40px 0 40px;
    
           .contact-title {
                text-align: center;
                font-size: 25px;
           }
           
           .descr {
                text-align: center;
                font-size: 15px;   
           }
    
           .contact-input {
               margin-top: 25px;
               width: 250px;
               height: 60px;
           }
    
           .contact-btn {
                margin-top: 25px;
                width: 250px;
           }
        }
    }

    /* -------- FOOTER RESPONSIVE STYLES  -------- */

    .footer-section {
        height: 400px;
    
        .footer-menu {
            margin-top: 35px;
            margin-bottom: 35px;
            display: block;

            .menu-link {
                margin: 25px 25px 25px 0;
            }
    
            .link {
                font-size: 20px;
            }
        }
    
        .footer-sign {
            font-size: 15px;
        }
    
        .copyright-maket {
            font-size: 13px;
        }
    }

}

/* IPADS  MEDIA-QUERIES */
@media only screen and (min-width: 992) and (max-width: 1024px){
    .wrapper {
        .navbar {
            .nav-link {
                margin-left: 2rem;
            }
        }   
    
    }    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* -------- INTRODUCTION RESPONSIVE STYLES  -------- */
    .wrapper {
        height: 650px;
    
        .navbar {
            padding-top: 2%!important;
            text-align: center;

            .navbar-toggler{
                background-color: #ffffff;
            }
            
            .nav-link{
                margin-top: 10px;
            }
            .nav-link:hover {
                border-bottom: none;
            }
        }
    
        .introduction-section {
            text-align: center;
            margin-top: 150px;
        }
    }
    
    /* -------- ABOUT US RESPONSIVE STYLES  -------- */

    .aboutus-section {
        height: 750px;
    
        .custom-row {
            margin: 35px 50px 0 50px;
    
            .text-col {
                margin: 75px 0 0 25px;
                max-width: 700px;
            }
    
            .img-col {
                display: none;
            }
        }
    }

    /* -------- PHOTO  RESPONSIVE STYLES  -------- */

    .portfolio-section {
        height: 500px;
    
        .title-descr {
            margin: 0 auto;
            margin-top: 20px;
            font-size: 18px;
        }
    
        .slider-section{
            max-width: 100%;
            height: 300px;
            margin: 20px 0 0 20px;
            
            img {
                width: 95%;
                height: 200px;
                margin-top: 20px;
             }
    
            img:hover {
                transition: all 1s ease-out;
                transform: scale(1.1);
            } 
            
        }
    }

    /* -------- SERVICE PROS RESPONSIVE STYLES  -------- */

    .pros-section {
        height: 700px;

        .pros-title {
            margin-top: 50px;
    
            .title {
                font-size: 30px;
            }
            
            .title-descr {
                font-size: 18px;
            }
        }
    
        .pros-info {
            display: block;
            text-align: center;
            margin: 0 auto;
            

            .row {
                max-width: 768px!important;
                margin: 0 auto;
                
                .col {
                    padding-right: 0!important;
                }
            }
            
            img {
                width: 90%;
                float: none;
            }
            
            img:hover {
                transform: none;
            }
    
            .item-title {
                margin-top: 25px;
                float: none;
                font-size: 20px;
            }
    
            .item-descr {
                float: none;
                max-width: 700px;
                margin: 0 auto;
                margin-top: 20px;
                font-size: 15px;
                text-align: center;
                line-height: 25px;
            }
    
            button {
                float: none;
                margin: 25px 0 25px 0;
                width: 180px;
            }
        }
    }

    /* -------- HOT TOUR RESPONSIVE STYLES  -------- */

    .hotTour-section {
        height: 900px;
    
        .custom-row {
            margin: 50px 50px 0 25px;
    
            .text-col {
                margin: 70px 0 0 0;
                margin: 0 auto;
    
                .hotTour-title {
                    font-size: 20px;
                }
    
                .article-title {
                    font-size: 25px;
                    margin: 20px 0 20px 0;
                }
    
                .article-descr {
                    font-size: 20px;
                    margin: 20px 0 40px 0;
                    line-height: 40px;
                }
            }
    
            .img-col {
                display: none;
            }
        }
    }
    
    /* -------- CONTACT RESPONSIVE STYLES  -------- */

    .contact-section {
        max-width: 100%;
        height: 600px;
    
        .contact-info {
            padding: 75px 40px 0 40px;
    
           .contact-title {
                text-align: left;
                font-size: 25px;
           }
           
           .descr {
                text-align: left;
                font-size: 15px;   
           }
    
           .contact-input {
               margin-top: 25px;
               width: 250px;
               height: 60px;
           }
    
           .contact-btn {
                margin-top: 25px;
                width: 250px;
           }
        }
    }
}