.topsideBar-section {
    max-width: 100%;
    height: 80px;
    background: #DEDEDE;
    
    img {
        padding: 20px 50px 20px 70px;
        cursor: pointer;
    }

    .topside-title {
        padding: 15px 50px 15px 0;
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;;
        transition: all 0.5s ease-in;
    }
}